@import "../../../App.scss";

.card {
  height: auto;
  width: auto;
  padding: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include light-shadow;
  @include transition-default(box-shadow);

  &:hover, &:focus {
    box-shadow: 0px 0px 0px 5px $color-primary1;
  }

  p {
    margin-bottom: 0px;
  }
}

.rating {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;

  span {
    color: $color-secondary1;
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 150px;

  img {
    height: 60px;
    min-height: 60px;
    width: 60px;
    min-width: 60px;
    margin-right: 10px;
  }

  div {
    flex-grow: 1;
    flex-basis: 0;
    font-weight: bold;
  }
}