@import "../../../App.scss";

.number-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-picker {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.button {
  height: 50px;
  width: 50px;
  padding: 0px 0px;
  border-radius: 25px;
  border: 4px solid $color-transparent;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: $color-primary2;
  color: #000000;
  @include light-shadow;
  @include transition-default(all);

  svg rect {
    fill: #000000;
  }

  &:hover, &:focus {
    background-color: #FFFFFF;
    border-color: $color-primary1;
    color: $color-primary1;
    svg rect {
      fill: $color-primary1;
    }
  }
}

.number {
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0px 0px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: $color-highlight1;
  color: #000000;
}

.error {
  height: 14px;
  margin: 10px 0px;
  font-size: 14px;
  color: $color-error;
}