@import "../../../App.scss";

.about {
  background-color: #FFFFFF;
  padding: 30px 0px;

  p {
    font-size: 18px;
  }
}

.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.pic {
  position: relative;
  z-index: 0;
}

.pic1 {
  @include light-shadow;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}

.pic2 {
  @include light-shadow;
  position: absolute;
  left: 0%;
  border-radius: 5px;
}

@media (max-width: #{$grid-breakpoints-lg}){
  .container {
    flex-direction: column;
  }
  .pic {
    min-width: 330px;
    height: 350px;
    align-self: center;
  }
  .pic1 {
    height: 250px;
    top: 0px;
    left: 150px;
  }
  .pic2 {
    height: 250px;
    top: 100px;
  }
}

@media (min-width: #{$grid-breakpoints-lg}){
  .pic {
    min-width: 506px;
    height: 500px
  }
  .pic1 {
    height: 400px;
    top: 0px;
    left: 220px;
  }
  .pic2 {
    height: 400px;
    top: 100px;
  }
}