@import "../../../App.scss";

.card {
  height: auto;
  width: auto;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include light-shadow;
  @include transition-default(box-shadow);

  &:hover, &:focus {
    box-shadow: 0px 0px 0px 5px $color-primary1;
  }

  img {
    min-height: 200px;
    height: 200px;
    min-width: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover
  }

  .card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;

      span {
        font-size: 25px;
        font-weight: bold;

        + span {
          color: $color-secondary1;
        }
      }
    }

    p {
      overflow: scroll;
      @include scrollbar-hidden
    }

    a {
      margin-top: auto;
      font-size: 18px;
      @include link-highlight;
    }
  }
}