@import "../../App.scss";

.booking {
  padding: 30px 0px;
}

.header {
  width: 100%;
  margin-bottom: 20px;

  h2, h3 {
    width: fit-content;
    font-family: $font-markazi;
    font-weight: normal;
    text-align: left;
    margin: 0;
  }

  div {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back-button {
    flex: 1;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    @include link-highlight;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.confirm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.summary-table {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  @include light-shadow;

  td {
    width: 50%;
    padding-right: 5px;
    text-align: right;
    font-weight: normal;

    + td {
      width: 50%;
      padding-left: 5px;
      text-align: left;
      font-weight: bold;
    }
  }
  .spacer {
    height: 10px;
  }
}

.confirm-status {
  height: 70px;
  font-size: 20px;
  text-align: center;
}