@import "../../../App.scss";

.spinner {
  border: 10px solid $color-highlight1;
  border-top: 10px solid $color-primary2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

.hidden {
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}