@import "../../../App.scss";

.specials {
  background-color: #FFFFFF;
  padding: 30px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.card-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 5px 5px;
  overflow-x: scroll;
  @include scrollbar-hidden
}

.card {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
}

@media (max-width: #{$grid-breakpoints-lg}){
  .card-list {
    gap: 10px;
  }
}